#! /usr/bin/env bash
###################################################################################
#  Notes:                                                                         #
#  1) All keys that are **NOT** related to Docker and/or Compose File, must       #
#     be in single quotations (due to bash expansion inside double quotations)    #
#                                                                                 #
#  2) Docker and/or Compose file-related keys must not have any quotations at ALL #
###################################################################################

# ======================================================================= #
#                                 General                                 #
# ======================================================================= #
export NODE_ENV=development

# ======================================================================= #
#                               PostgresSQL                               #
# ======================================================================= #
export POSTGRES_CONNECTION_SCHEME='postgresql'
export POSTGRES_HOST='127.0.0.1'
export POSTGRES_SCHEMA='public'
export POSTGRES_SERVICE_PORT_MAP='5432:5432'
export POSTGRES_SERVICE_PORT_EXPOSE='5432'
export POSTGRES_DEFAULT_DATABASE='boilerplate-primary'
export POSTGRES_SUPERUSER_USERNAME='postgres'
export POSTGRES_SUPERUSER_PASSWORD='postgres'
export POSTGRES_HOST_SERVICE_DIR='./services/postgres'

### Container-related
export POSTGRES_SERVICE_NAME=postgres
export POSTGRES_SERVICE_DIR_NAME='postgres'
export POSTGRES_SERVICE_DB_DATA_DIR_NAME='db-data'
export POSTGRES_RESTART_POLICY='unless-stopped'
export POSTGRES_STOP_GRACE_PERIOD='3m30s'
export POSTGRES_INITDB_ARGS='--data-checksums'

### Migration
export MIGRATION_ROOT_DIR='./src/migrations'
export MIGRATION_CONF_FILE='./.ormconf.ts'

# ======================================================================= #
#                          Password Hash: Argon2                          #
# ======================================================================= #
export PASSWORD_HASH_LENGTH=32                 # Note that the resulting hash is encoded with Base 64, so the digest will be ~1/3 longer.
export PASSWORD_HASH_ITERATIONS=3              # The time cost is the amount of passes (iterations)
export PASSWORD_HASH_EACH_THREAD_MEM=65536     # 64 MiB
export PASSWORD_HASH_PARALLELISM=4             # The amount of threads to compute the hash on. 
export RESET_PASSWORD_TOKEN_EXPIRES_IN=6000    # In seconds
export RESET_PASSWORD_DEFAULT_ATTEMPTS=3